@font-face {
    font-family: "Bungee Shade";
    src: url(font/BungeeShadeRegular.ttf) format("truetype");
}

@font-face {
    font-family: "Apple Sans Adjectives";
    src: url(font/AppleSansAdjectives.ttf) format("truetype");
}

body {
  background-image: url('img/bluelines.jpg');
  background-attachment: fixed;
}

/* Baseline Properties */

.main_wrapper {
  border: 1px solid darkblue;
  text-align: center;
  padding: calc(0.5vh + 0.5vw);
  font-family: Helvetica, sans-serif;
  color: darkblue;
  font-size: 2vw;
  line-height: 2vh;
  background-color: white;
  position: absolute;
  right: 14vw; left: 14vw; top: 5vh;
  width: 70vw;
  box-shadow: 0.3vw 0.3vw darkblue;
}

.student_content, .balloon_content, .gridless_content, .um_content, .build_content {
  border: 1px solid darkblue;
  padding: calc(0.5vh + 0.5vw);
  font-family: Helvetica, sans-serif;
  color: #FF7387;
  font-size: calc(1vh + 1vw);
  line-height: calc(1.5vh + 1.5vw);
  background-color: white;
  position: absolute;
  right: 14vw; left: 14vw; top: 48vh;
  width: 70vw;
  box-shadow: 0.3vw 0.3vw darkblue;
}

.student_content img, .balloon_content img, .um_content img, .build_content img{
  height: 12vw;
  width: 16vw;
  float: left;
  padding-right: 1vw;
}

.gridless_content img {
  width: 14vw;
  height: 13.2vw;
  float: left;
  padding-right: 1vw;
}

.links {
  font-size: calc(0.75vh + 0.75vw);
  line-height: 2vh;
  color: #FF7387;
  text-decoration: none;
  position: absolute;
  right: 15vw; top: 1vh;
  min-height: 18px;
}

.links a {
  font-size: calc(0.75vh + 0.75vw);
  line-height: calc(1vh + 1vw);
  color: #FF7387;
  text-decoration: none;
}

.links a:hover {
  text-shadow: 0.1vw 0.1vw #E7E2EB;
  text-decoration: underline;
}

#circle {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

#pimg img { display: none; }
#gimg img { display: none; }
#build img {display: none; }
#intro { color: #FF7387; }
#nucleo {display: none; color: #00FF98; }
#student { color: #0088E8; }
#balloon { color: #00D8FF; }
#gridless { color: #00E8CC; }
#genome { color: #00FF98; }
#build { color: #FF7387;}
/* ================================ */

/* Circle Reaction Code */
label[for=circle] {
  background: #FF7387;
  width: 4vw; height: 4vw; border-radius: 50%;
  left: 65vw; top: 1vh;
  position: absolute;
  text-align: center;
  font-size: 1vw;
  box-shadow: 0.5vh 0.5vh #CC5C6C;
}
label[for=circle]:hover {
  background: #FFABB7;
  box-shadow: 0.5vh 0.5vh #FF7387;
}
#circle:checked ~ label[for=circle] {
  left: calc(65vw + 0.5vh); top: 1.5vh;
  box-shadow: 0vh 0vh #FF7387;
}
#circle:checked ~ #intro {
  font-family: "Bungee Shade", Helvetica, sans-serif;
  font-size: 3vw;
}
#circle:checked ~ #balloon { font-family: "Apple Sans Adjectives", Helvetica, sans-serif; font-size: 2vw; }
#circle:checked ~ #pimg img { display: inline; height: 6vw; width: 18vw; }
#circle:checked ~ #gimg img { display: inline; height: 4vw; width: 30vw; }
#circle:checked ~ #build img { display: inline; align: top; height: 2vw; width: 2vw; }
#circle:checked ~ #nucleo { display: inline; }
#circle:checked ~ #student { display: none; }
#circle:checked ~ #gridless { display: none; }
#circle:checked ~ #genome { display: none; }
/* ================================ */

/* Basic Action styling */
#intro:hover{ cursor: url('img/profile.ico'), default; }

#student:hover, #balloon:hover, #gridless:hover, #genome:hover, #build:hover {
  text-shadow: 0.1vw 0.1vw #E7E2EB;
  font-size: 2.2vw;
  cursor: pointer;
}
/* ================================ */
